<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAbsenceRegistration" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4100/AbsenceRegistration.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAbsenceRegistration"
                contract="ARservice.IAbsenceRegistration" name="BasicHttpBinding_IAbsenceRegistration" />
        </client>
    </system.serviceModel>
</configuration>